{% extends 'base.html' %}
{% block content %}
<header>
  <div class="container px-4 text-center mb-5 mt-5">
    <h1 class="fw-bolder mb-5">About Us</h1>
    <p class="lead">{{page.content|safe}}</p>
  </div>
</header>
<!-- About section-->

<!-- Page Content -->
<div class="container mt-0">
  <div class="row" style="justify-content: center;">
    <!-- Team Member 1 -->
    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
      <div class="card border-0">
        <div class="card-body text-center about-card">
          <img src="/media/gallery/mayor.jpg" class="card-img-top about-img" alt="...">
          <h4 class="text-uppercase mb-2 mt-3">Mayor</h4>
          <p>पार्षद संजय सिंह (वार्ड सं०-१००) द्रारा किये गये अपने वार्ड को डिजिटिलिजेशन जैसी पहल के लिए धन्यवाद देती हूँ

            में यह अपेक्षा करती हूँ की वार्ड द्रारा किये गये " पूर्ण हरित, पूर्ण स्वछता" सभी नागरिको को सम्पूर्ण एवं सुविधा देंगे। मेँ अपेक्षा करती हूँ कि वार्ड-१०० द्रारा किये गये प्रयास को अन्य सभी वार्ड पार्षद शुरुआत करेंगे।
            
            "पूर्ण स्वछता, पूर्ण हरित नगर निगम का है, यह संकल्प"</p>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
      <div class="card border-0">
        <div class="card-body text-center about-card">
          <img src="/media/gallery/SanjaySingh.jpg" class="card-img-top about-img" alt="...">
          <h4 class="text-uppercase mb-2 mt-3">Counselor</h4>
          <p>
          It will be my privilege to serve you as the Councilor for Ward 100, Shipra Suncity Indirapuram Ghaziabad. The trust you have placed in me is something I honor and respect and for which I thank you.
          I will not let any stone unturn to improve the ward. Sincerely,
        </p>
        </div>
      </div>
    </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}