{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/stylegallery.css' %}">
<header>
   <div class="container px-4 text-center mt-5">
     <h1 class="fw-bolder mb-5">Adarsh Ward Gallery</h1>
     <p class="lead">{{page.content|safe}}</p>
   </div>
 </header>
  <section class="gallery min-vh-100">
   
     <div class="container-lg bg-light">
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
         {% for gal in gallery %}
           <div class="col">
              <img src="{{gal.image.url}}" class="gallery-item" alt="gallery">
           </div>
         {% endfor %}
        </div>
     </div>
  </section>

<!-- Modal -->
<div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adarsh Ward 100</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <img src="img/1.jpg" class="modal-img" alt="modal img">
      </div>
    </div>
  </div>
</div>

<script src="{% static 'assets/js/gallery-main.js'%}"></script>

{% endblock content %}
