{% extends 'base.html' %}
{% load static %}

{% block title %}Adarsh Ward 100{% endblock title %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for i in home_slider%}
        {% if forloop.counter0 == 0 %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        {% else %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}"
            aria-label="Slide {{ forloop.counter }}"></button>
        {% endif %}
        {% endfor %}

        {% comment %} <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button> {% endcomment %}
    </div>
    <div class="carousel-inner">
        {% for s in home_slider %}
        {% if forloop.counter0 == 0 %}
        <div class="carousel-item active">
            <img src="{{s.image.url}}" class="d-block slider-img" alt="{{s.title}}">
        </div>
        {% else %}
        <div class="carousel-item">
            <img src="{{s.image.url}}" class="d-block slider-img" alt="{{s.title}}">
        </div>
        {% endif %}

        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-fluid">
    <div class="row m-0 px-3">
        <div class="col-lg-4 col-sm-12 me-3 me-ms-0 bg-light mt-3 border py-2">
            {{page.content|safe}}
        </div>
        <div class="col-lg col-sm-12 bg-light mt-3 border py-2">
            <!-- Tabs navs -->
            <ul id="docs-nav-pills" class="nav nav-pills mb-4" role="tablist">
                <li class="nav-item" role="presentation">
                    <a id="docs-tab-overview" class="nav-link px-5 font-weight-bold active" data-mdb-toggle="tab"
                        href="#ex1-tabs-1" role="tab" aria-selected="true" tabindex="-1">News</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a id="docs-tab-gettingstarted" class="nav-link px-5 font-weight-bold" data-mdb-toggle="tab"
                        href="#ex1-tabs-2" role="tab" aria-selected="false">Anouncement</a>
                </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                    <ul class="list-group">
                        {% for n in news %}
                        <li class="list-group-item"><a href="{% url 'news_detail' pk=n.slug %}">{{n.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                        <ul class="list-group">
                            {% for a in anouncements%}
                            <li class="list-group-item"><a href="{{a.file.url}}">{{a.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Tabs content -->
        </div>
    </div>
</div>


{% endblock content %}